<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>
        Node Boilerplate
    </title>

    {{#> head-block}}
      {{> head }}
    {{/head-block}}
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">
          Stripe Node.js Boilerplate
        </a>
      </div>
    </nav>

    {{#> content-block}}
    {{!-- Content goes here --}}
    {{/content-block}}

  </body>
</html>
