{{#> base }}

{{#*inline "content-block"}}

<div class="container mtm">
  <div class="row">

    <div class="col col-md-8 offset-md-2">
      <form action="/charge" method="post" id="payment-form">
        <label for="card-element">Credit or debit card</label>
        <div id="card-element"></div>
        <div id="card-errors" role="alert"></div>
        <button class="btn btn-primary mts">
          <span id="button-text">Submit Payment</span>
        </button>    
      </form>

      <p class="result-message hidden mtm">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      </p>
    </div>

  </div>
</div>

<script type="text/javascript">
  var stripe = Stripe('{{STRIPE_PUBLISHABLE_KEY}}');

  // Create an instance of Stripe Elements.
  var elements = stripe.elements();
  var card = elements.create('card', {
    hidePostalCode: true
  });
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      document.querySelector("button").disabled = true;
      displayError.textContent = event.error.message;
    } else {
      document.querySelector("button").disabled = false;
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();
    submitting(true)
  console.log(card);
    stripe.confirmCardPayment("{{clientSecret}}", {
      payment_method: {
        card: card
      }
    }).then(function(result) {
      if (result.error) {
        submitting(false)
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        orderComplete(result.paymentIntent.id);
      }
    });
  });

  // Show success message when payment is complete
  function orderComplete(paymentIntentId) {
    submitting(false)
    document
      .querySelector(".result-message a")
      .setAttribute(
        "href",
        "https://dashboard.stripe.com/test/payments/" + paymentIntentId
      );
    document.querySelector(".result-message").classList.remove("hidden");
    document.querySelector("#payment-form").classList.add("hidden")
  }

  // Update button submitting state
  var submitting = function(isSubmitting) {
    if (isSubmitting) {
      document.querySelector("button").disabled = true;
      document.querySelector("#button-text").textContent = "Submitting Payment..."
    } else {
      document.querySelector("button").disabled = false;
      document.querySelector("#button-text").textContent = "Submit Payment"
    }
  };  
</script>

{{/inline}}

{{/base}}
